@import "colors";
.player{
  padding: 20px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  form,.article{
    flex: 0 1 45%;
    a{
      display: block;
      color: $secondaryText;
    }
    p{
      display: inline-block;
      width: 45%;
    }
    h2,a,p{
      margin: 5px 0;
    }
  }
  .sliderNumber{
   width: 30%;
    display: inline-block;
  }
  input,button{
    height: 40px;
    padding: 0.2em;
  }

}
