<div class="header">
  <div class="wrapper">
    <h1>{{article.Namn}} </h1>
    <h4>{{article.Namn2}}</h4>
    <a href="http://www.systembolaget.se/?searchquery={{article.Varnummer}}">Till systembolaget</a>
  </div>
</div>
<div class="wrapper">
  <div class="articleInfo">
    <p>Alkohol per krona: {{article.apk}}</p>
    <p>Pris: {{article.Prisinklmoms}} Kr</p>
    <p>Volym: {{article.Volymiml}} ml</p>
    <p>Pris per liter {{article.PrisPerLiter}} Kr</p>
    <p>Säljstart {{article.Saljstart | date:medium}}</p>
    <p ng-show="article.Slutlev">Slutade säljas {{article.Slutlev}}</p>
    <p>{{article.Varugrupp}}</p>
    <p>Förpackning: {{article.Forpackning}}</p>
    <p ng-show="article.Forslutning">Förslutning {{article.Forslutning}}</p>
    <p ng-show="article.Ursprung">Ursprung: {{article.Ursprung}}</p>
    <p>Ursprungsland: {{article.Ursprunglandnamn}}</p>
    <p>Producent: {{article.Producent}}</p>
    <p>Leverantör: {{article.Leverantor}}</p>
    <p ng-show="article.Argang">Årgång: {{article.Argang}}</p>
    <p ng-show="article.Provadargang">Provad år: {{article.Provadargang}}</p>
    <p>Alkkoholhalt: {{article.Alkoholhalt}}%</p>
    <p>Ekologisk: {{article.Ekologisk}}</p>
    <p>Etisk: {{article.Etiskt}}</p>
    <p>Koscher: {{article.Koscher}}</p>
    <p ng-show="article.RavarorBeskrivning">Råvarubeskrivning: {{article.RavarorBeskrivning}}</p>

  </div>
</div>
