<div class="wrapper">

  <form name="search-form" ng-submit="loadData()" novalidate>
    <div class="sorting">
      <div id="search">
        <div class="form-group">
          <label>Price (min) <input name="price-min" type="number" ng-model="price.min"></label>

        </div>
        <div class="form-group">
          <label>Price (max)<input name="price-max" type="number" ng-model="price.max"></label>

        </div>
        <div class="form-group">
          <label>Alcohol (min) <input name="alcohol-min" type="number" ng-model="alcohol.min"></label>

        </div>
        <div class="form-group">
          <label> Alcohol (max<input name="alcohol-max" type="number" ng-model="alcohol.max"></label>

        </div>
        <div class="form-group">
          <label>APK (min) <input name="apk-min" type="number" ng-model="apk.min"></label>

        </div>
        <div class="form-group">
          <label>APK (max) <input name="apk-max" type="number" ng-model="apk.max"></label>

        </div>
        <div class="form-group">
          <label>search</label>
          <button type="submit"><i class="material-icons">&#xE8B6;</i></button>
        </div>
      </div>
      <div id="filter">
        <div class="form-group">
          <label>Name<input ng-model="search.name"></label>
        </div>
        <div class="form-group">
          <label>Category<input ng-model="search.tags.name"></label>
          <h3>{{ results }}</h3>
        </div>
      </div>
    </div>
  </form>


  <table>
    <tr>
      <th>
        <button ng-click="order('name')">Namn</button>
        <span class="sortorder" ng-show="predicate === 'name'" ng-class="{reverse:reverse}"></span>
      </th>
      <th>
        <button ng-click="order('price')">Pris</button>
        <span class="sortorder" ng-show="predicate === 'price'" ng-class="{reverse:reverse}"></span>
      </th>
      <th>
        <button ng-click="order('price_per_liter')">Pris/liter</button>
        <span class="sortorder" ng-show="predicate === 'price_per_liter'" ng-class="{reverse:reverse}"></span>
      </th>
      <th>
        <button ng-click="order('volume')">Volym</button>
        <span class="sortorder" ng-show="predicate === 'volume'" ng-class="{reverse:reverse}"></span>
      </th>
      <th>
        <button ng-click="order('apk')">APK</button>
          <span class="sortorder" ng-show="predicate === 'apk'"
                ng-class="{reverse:reverse}"></span>
      </th>
      <th>
        <button ng-click="order('alcohol')">Alkoholhalt</button>
        <span class="sortorder" ng-show="predicate === 'alcohol'" ng-class="{reverse:reverse}"></span>
      </th>
      <th>
        <button ng-click="order('category')">Category</button>
        <span class="sortorder" ng-show="predicate === 'category'" ng-class="{reverse:reverse}"></span>
      </th>
    </tr>
    <tr
      ng-repeat="object in articles | orderBy:predicate:reverse  | filter: search">
      <td><a ng-href="http://www.systembolaget.se/?searchquery={{ object.product_number}}">{{ object.name }}, {{
        object.name_2 }}</a></td>
      <td> {{ object.price | currency: "Kr: ":0 }}</td>
      <td> {{ object.price_per_liter | currency: "Kr: ":0 }}</td>
      <td> {{ object.volume * 1000 }}</td>
      <td> {{ object.apk}}</td>
      <td> {{ object.alcohol * 100 | number:0 }}%</td>
      <td> {{ object.tags[0].name }} <br/> {{ object.tags[1].name }}</td>
    </tr>
  </table>
  <button ng-click="quantity = quantity + 500" ng-init="quantity=100">visa fler</button>
</div>
