<div class="container">
  <div ng-repeat="artiklar in articles">
    <table>
      <tr>
        <th>
          <button ng-click="order('name')">Name</button>
          <span class="sortorder" ng-show="predicate === 'name'" ng-class="{reverse:reverse}"></span>
        </th>
        <th>
          <button ng-click="order('Prisinklmoms')">Pris</button>
          <span class="sortorder" ng-show="predicate === 'Prisinklmoms'" ng-class="{reverse:reverse}"></span>
        </th>
        <th>
          <button ng-click="order('Volymiml')">Volym</button>
          <span class="sortorder" ng-show="predicate === 'Volymiml'" ng-class="{reverse:reverse}"></span>
        </th>
        <th>
          <button ng-click="order('Alkoholhalt * PrisPerLiter')">Pris/ml alkohol</button>
          <span class="sortorder" ng-show="predicate === 'Alkoholhalt * PrisPerLiter'"
                ng-class="{reverse:reverse}"></span>
        </th>
        <th>
          <button ng-click="order('Alkoholhalt')">Alkoholhalt</button>
          <span class="sortorder" ng-show="predicate === 'Alkoholhalt'" ng-class="{reverse:reverse}"></span>
        </th>
      </tr>
      <tr ng-repeat="object in artiklar.artikel | orderBy:predicate:reverse | limitTo:10">
        <td><a ng-href="http://www.systembolaget.se/?searchquery={{object.Varunummer}}">{{ object.Namn }}</a></td>
        <td> {{ object.Prisinklmoms }}</td>
        <td> {{ object.Volymiml }}</td>
        <td> {{ object.Alkoholhalt * object.PrisPerLiter /1000 | number: 0}}</td>
        <td> {{ object.Alkoholhalt }}%</td>
      </tr>
    </table>
  </div>
</div>
