<div class="wrapper">
  <div ng-repeat="player in players">
    <form name="slumpen-form" ng-submit='loadData(player)' novalidate>
      <div class="form-group">
        <rzslider
          rz-slider-model="player.price.min"
          rz-slider-high="player.price.max"
          rz-slider-options="player.price.options"></rzslider>
        <div class="sliderNumber">
          <label>Pris
            <input name="price-min" type="number" min="0" ng-model="player.price.min"
                   placeholder="t.ex. 10"> </label>
        </div>
        <span class="numberJoin">-</span>
        <div class="sliderNumber">
          <label>Pris
            <input name="price-max" type="number" min="0" ng-model="player.price.max"
                   placeholder="t.ex. 1000"></label>
        </div>
      </div>
      <div class="form-group">
        <button type="submit">Ge mig sprit</button>
      </div>
      {{player.article.apk}}
    </form>
  </div>
  <button ng-click="loadAllPlayers()">Ge alla sprit</button>
</div>

