<div class="wrapper">
  <form name="slumpen-form" ng-submit="loadData()" novalidate>
    <div class="form-group">
      <rzslider
        rz-slider-model="price.min"
        rz-slider-high="price.max"
        rz-slider-options="price.options"></rzslider>
      <div class="sliderNumber">
        <label>Pris
          <input name="price-min" type="number" min="0" ng-model="price.min"
                 placeholder="t.ex. 10"> </label>
      </div>
      <span class="numberJoin">-</span>
      <div class="sliderNumber">
        <label>Pris
          <input name="price-max" type="number" min="0" ng-model="price.max"
                 placeholder="t.ex. 1000"></label>
      </div>
    </div>
    <div class="form-group">
      <button type="submit">Ge mig sprit</button>
    </div>
  </form>
</div>
{{article}}
